.container.admin
  = render 'shared/navigation_admin'
  .row
    .col-lg-10
      .chart
        %h3.module_header
          Inscritos para evento '#{@event.name}': 
          %span.count
            #{@events_users.count}
          =# link_to 'Exportar a CSV', entry_list_to_csv_path(@event.id), style: "float:right;", class: 'btn'
          = link_to 'Exportar a Excel', entry_list_to_xlsx_path(format: :xlsx), style: "margin-right:10px;", class: 'btn btn-xs btn-primary pull-right'

        .options
          = page_entries_info @events_users
          = will_paginate @events_users

        %table.table.table-striped
          %tr
            %th Nombre
            %th Correo
            %th Cédula
            %th Fecha de Nacimiento
            %th Brigadista
            %th Remover?

          - @events_users.each do |events_user|
            - user = events_user.user
            %tr{id: "volunteer_#{user.id}"}
              %td= user.full_name
              %td= user.email
              %td= user.indentifier
              %td= user.birth_date.strftime("%Y-%m-%d") unless user.birth_date.nil?
              %td #{events_user.is_brigadist ? 'Sí' : 'No'}
              %td= link_to 'Remover?', remove_participant_admin_event_path(@event.id, uid: user.id), remote: true, method: :delete, data: { confirm: "Esta seguro que desea eliminar al usuario: '#{user.full_name}'' del evento: '#{@event.name}'"}




