.header
  .header_top
    .menu
      %a.toggleMenu{href: "#"}
        = image_tag("nav.png")
      %ul.nav
        %li
          = link_to root_path do
            Calendario
        %li{class: ('active' if @selected_menu == 'Dash')}
          = link_to admin_dash_path do
            %i>
              = image_tag("statistics.png")
            Tablero

        %li{class: ('active' if @selected_menu == 'Users')}
          = link_to admin_users_path do
            %i>
              = image_tag("user.png")
            Usuarios

        %li{class: ('active' if @selected_menu == 'Volunteers')}
          = link_to admin_volunteers_path do
            %i>
              = image_tag("likes.png")
            Voluntarios
            %span.messages
              = @volunteersCount

        %li{class: ('active' if @selected_menu == 'Events')}
          = link_to admin_events_path do
            %i>
              = image_tag("events.png")
            Eventos
            %span.messages
              = @eventsCount
        %li{class: ('active' if @selected_menu == 'Brigades')}
          = link_to admin_brigades_path do
            %i>
              = image_tag("follow_user.png")
            Brigadas
            %span.messages
              = @brigadesCount
        %li{class: ('active' if @selected_menu == 'Children')}
          = link_to admin_children_path do
            %i>
              = image_tag("follow_user.png")
            Niños
            %span.messages
              = @childrenCount
        %li{class: ('active' if @selected_menu == 'Polls')}
          = link_to admin_polls_path do
            %i>
              = image_tag("follow_user.png")
            Encuestas
            %span.messages
              = @pollsCount

        .clear

    .profile_details
      .dropdown
        %button#dLabel{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button", class: 'btn btn-default'}
          #{current_user.full_name}
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "dLabel"}
          %li
            = link_to 'Perfil', edit_user_registration_path, :class => ('active' if controller_name == 'registrations')
            
          %li= link_to 'Salir', destroy_user_session_path, :method => 'delete'
    -#
      .profile_details
        #loginContainer
          %a#loginButton
            %span Yo
          #loginBox
            %form#loginForm
              %fieldset#body
                .user-info
                  %h4
                    Hola,
                    %a{href: "#"} 
                  %ul.dropdown-menu{"aria-labelledby" => "dLabel"}
                    %li
                      = image_tag(current_user.photo.url, :size => "40x40", :alt => "")
                      = link_to current_user.full_name, edit_user_registration_path, :class => ('active' if controller_name == 'registrations')
                      

                    %li= link_to 'Salir', destroy_user_session_path, :method => 'delete'

                    .clear
        .profile_img
          %a{href: "#"}
            = image_tag("profile_img40x40.jpg")
        .clear
    .clear