.row
  .col-md-12
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Nombre
          %th Email
          %th Cédula
          %th Ciudad
          %th Nacimiento
          %th Registro
          %th
            Desea información
          %th
            Recibió inducción
          %th Brigada
          %th Tiene induccion
      %tbody
        - @volunteers.each do |volunteer|
          %tr
            %td= link_to volunteer.full_name, edit_admin_volunteer_path(volunteer.id)
            %td= volunteer.email
            %td= volunteer.indentifier
            %td= volunteer.city.name
            %td= volunteer.birth_date.strftime("%Y-%m-%d") unless volunteer.birth_date.nil?
            %td= volunteer.created_at.strftime("%Y-%m-%d %H:%M")
            %td= (volunteer.contact_me ? 'Sí' : 'No')
            %td= (volunteer.has_institution_induction ? 'Sí' : 'No')
            %td= volunteer.brigade.name if volunteer.brigade_id
            %td{class: "activation_#{volunteer.id}"}
              - if volunteer.has_induction?
                Activo
              - else
                = link_to('activar', activate_admin_volunteer_path(volunteer.id), remote: true, method: :post, confirm: "Seguro que quire activar al voluntaroio: #{volunteer.email}?")
    = will_paginate @volunteers, params:{controller: "admin/volunteers", action: 'volunteer_filter', params: clear_search_params([:page])}, renderer: RemoteLinkPagination::LinkRenderer
    %br/
    = raw WPHelper.new.page_entries_info(@volunteers)
    =# will_paginate @volunteers