.container.admin
  = render 'shared/navigation_admin'
  .row.adform
    = form_for @volunteer, url: (@volunteer.new_record? ? admin_volunteers_path : admin_volunteer_path(@volunteer.id)), method: (@volunteer.new_record? ? 'post' : 'put'), html: {id: 'volunteerForm'} do |f|
    
      .chart
        %h3.module_header
          #{(@volunteer.new_record? ? 'Nuevo voluntario' : "Editar voluntario")}
      
      .col-lg-6
        .temp_list
          %ul
            %li
              - unless @volunteer.errors.empty?
                .alert.alert-danger.errors
                  = @volunteer.errors.full_messages.join(', ')
            %li
              .row
                .col-lg-3
                  %span Nombre *
                .col-lg-9
                  = f.text_field :first_name, class: 'form-control', size: '150', maxlenght: '150'
            %li
              .row
                .col-lg-3
                  %span Apellido *
                .col-lg-9
                  = f.text_field :last_name, class: 'form-control', size: '150', maxlenght: '150'
            %li
              .row
                .col-lg-3
                  %span Email *
                .col-lg-9
                  = f.text_field :email, class: 'form-control', size: '150', maxlenght: '150'
            %li
              .row
                .col-lg-3
                  %span Documento de identidad *
                .col-lg-9
                  = f.text_field :indentifier, class: 'form-control', size: '150', maxlenght: '150'
            %li
              .row
                .col-lg-3
                  %span Ciudad *
                .col-lg-9
                  = f.select :city_id, options_from_collection_for_select(City.all, :id, :name, @volunteer.city_id), {}, {class: 'form-control'}
            %li
              .row
                .col-lg-3
                  %span Teléfono casa *
                .col-lg-9
                  = f.text_field :phone, class: 'form-control', size: '150', maxlenght: '150'
            %li
              .row
                .col-lg-3
                  %span Celular *
                .col-lg-9
                  = f.text_field :mobile, class: 'form-control', size: '150', maxlenght: '150'

            %li
              .row
                .col-lg-3
                  %span Fecha de nacimiento *
                .col-lg-9
                  = f.text_field :birth_date, size: '5', maxlenght: '5', value: (@volunteer.birth_date ? @volunteer.birth_date.strftime("%d/%m/%Y") : ''), class: 'form-control datepicker', style: 'padding: 15px;'

            %li
              .row
                .col-lg-3
                  %span Motivación para ser voluntario
                .col-lg-9
                  = f.text_area :motivation, class: 'form-control', style: "width: 90%; height: 64px; padding: 5px;"

            %li
              .row
                .col-lg-3
                  %span ¿Cuál es tu historia alrededor del cáncer?
                .col-lg-9
                  = f.text_area :history, class: 'form-control', style: "width: 90%; height: 64px; padding: 5px;"

            %li
              .row
                .col-lg-3
                  %span Pertenece a brigada?
                .col-lg-9
                  = f.select :brigade_id, options_from_collection_for_select(Brigade.all, :id, :name, @volunteer.brigade_id), {include_blank: true}, {class: 'form-control'}

            %li
              %i{style: 'font-size: 12px;'} Los campos marcados con * son obligatorios
              %hr/
              .botones
                = link_to "Guardar", "#", onclick: "$('#volunteerForm').submit(); return false;", class: 'btn btn-primary btn-inverse'
                = link_to "Cancelar", admin_volunteers_path, class: 'btn btn-default'
                - unless @volunteer.new_record?
                  = link_to "Borrar", admin_volunteer_path(@volunteer.id), class: 'btn btn-default', confirm: "Esta seguro que desea borrar al voluntario:#{@volunteer.name}?", method: 'delete'

- years_ago_18 = 18.years.ago
- content_for :js_footer do
  :javascript
    $(function() {
      $(".datepicker").datepicker({
        dateFormat: 'yy/mm/dd',
        changeMonth: true,
        changeYear: true,
        yearRange: "-70:+0",
        defaultDate: new Date(#{years_ago_18.year},#{years_ago_18.month},#{years_ago_18.day}),
        maxDate: 0
      });
    });