Hola #{@event.responsable_name}
%br
%br

Se ha registrado un nuevo participante para el evento: #{@event.name}
%br
Participante: #{@user.full_name} (#{@user.email})
%br
Fecha: #{@event.event_date.strftime("%Y-%m-%d %H:%M")}
