- years_ago_18 = 18.years.ago

= render 'shared/header'
.container.detalle_evento
  .row
    .col-lg-12
      .page-header
        %h1 Datos Personales
  .row#personal-data
    .col-lg-8.col-md-8{style: "float:none; margin: 0 auto;"}
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-inline"} ) do |f|
        = devise_error_messages!
        .row
          .col-lg-6
            .form-group
              = f.label 'Nombre *', for: "nombre"
              = f.text_field :first_name, class: "form-control", type: "text", id: "nombre"
          .col-lg-6
            .form-group
              = f.label 'Apellido *', for: "apellido"
              = f.text_field :last_name, class: "form-control", type: "text", id: "apellido"
        .row
          .col-lg-4
            .form-group
              = f.label 'Email *', for: "email"
              = f.text_field :email, class: "form-control", type: "text", id: "email"
          .col-lg-4
            .form-group
              = f.label 'Documento de identidad *', for: "indentifier"
              = f.text_field :indentifier, class: "form-control idcard", type: "text", id: "indentifier"
          .col-lg-4
            .form-group
              = f.label 'Ciudad *', for: "city_id"
              = f.select :city_id, options_from_collection_for_select(City.all, :id, :name), {}, {class: "form-control"}
        .row
          .col-lg-6
            .form-group
              = f.label 'Teléfono casa *', for: "phone"
              = f.text_field :phone, class: "form-control phone", type: "text", id: "phone"
          .col-lg-6
            .form-group
              = f.label 'Celular', for: "mobile"
              = f.text_field :mobile, class: "form-control numeric-integer", type: "text", id: "mobile"
        .row
          .col-lg-6
            .form-group#datepicker-personal-data
              = f.label 'Fecha de nacimiento *:', for: "datepicker"
              = f.text_field :birth_date, class: "form-control date", size: '10', maxlength: '10', placeholder: "Fecha de nacimiento", id: 'datepicker'
          .col-lg-6
            .form-group#motivacion-personal-data
              = f.label 'Motivación para ser voluntario', for: "motivation"
              = f.text_area :motivation, class: "form-control", id: "motivation"
        .row
          .col-lg-6
            .form-group
              = f.label 'Contraseña *', for: "password"
              = f.password_field :password, id: 'password'
          .col-lg-6
            .form-group
              = f.label 'Confirmar contraseña *', for: "password_confirmation"
              = f.password_field :password_confirmation
        .row
          .col-lg-6
            %p
              = f.label 'Deseo recibir el boletín de noticias'
              = f.check_box :contact_me
          .col-lg-6
            %p
              = f.label '' do
                ¿Ya recibió la
                = link_to 'inducción', '#', title: 'Inducción es una clase de preparación para que los voluntarios puedan participar de mejor manera en los eventos. Es requerida para poder participar en eventos.'
                en alguna institución?
              = f.check_box :has_institution_induction
        .row
          .col-lg-12
            %p{style: 'font-size: 11px;'} * Los campos marcados con asterisco son obligatorios.
        .row
          .col-lg-12
            %button#button-personal-data.btn.btn-primary{:type => 'submit'} Registrarse

- content_for :js_footer do
  :javascript
    $(function() {
      $("#datepicker").datepicker({
        dateFormat: 'yy/mm/dd',
        changeMonth: true,
        changeYear: true,
        yearRange: "-70:+0",
        defaultDate: new Date(#{years_ago_18.year},#{years_ago_18.month},#{years_ago_18.day}),
        maxDate: 0
      });
    });
